h1 {
    text-align: center;
  }
  
  .btn {
    margin: 0 50px;
  }

  .btn-box {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
  }